body{
   
    aspect-ratio: 1/1;
    /* background-image: url('/images/Assets/Background.jpg'); */
    background-attachment: fixed;
    background-size: 100vw 100vh ;
    background-repeat: no-repeat;

}
 
 #app{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
    height:100vh;
 }
#decks img{
    width:15rem;
}
 
#decks{
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.deck{
    border: 0.5rem solid transparent ;
    border-radius: 0.5rem;
}
.active{
    border: 0.5rem solid pink ;
    border-radius: 0.5rem;
}

